<div *ngFor="let article of articles">

  <mat-card-header>
    <div mat-card-avatar [ngStyle]="{'background-image':'url(../asserts/image/' + article.source.id + '.png'}"></div>
    <mat-card-title>{{article.title}}</mat-card-title>
    <mat-card-subtitle>{{article.source.name}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{article.urlToImage}}">
  <mat-card-content>
    <p>{{article.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary"><mat-icon>thumb_up_all</mat-icon>Like</button>
    <button mat-button color="primary"><mat-icon>comment</mat-icon>Comments</button>
    <button mat-button color="primary"><mat-icon>share</mat-icon>Share</button>
    <a mat-button color="primary" href="{{article.url}}" target="_blank"><mat-icon>visibility</mat-icon>Read more</a>


  </mat-card-actions>
</div>
